# Node modules
node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS X
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.pbxuser
!default.pbxuser
*.xcworkspace
!default.xcworkspace
*.xccheckout
*.plist
ios/Pods/
pods/

# Android/IntelliJ
*.iml
.idea
.gradle
local.properties
android/app/build/
android/app/.cxx/
android/app/.transform/
android/app/src/main/res/drawable-*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Debug
.vscode/
chrome/

# Metro
.metro-health-check*

# Firebase
google-services.json
GoogleService-Info.plist

# Environment variables  
.env
.env.*
!.env.example

# Editor folders and files
.idea
.vscode
*.swp
*.swo
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage/
*.lcov

# Temporary files
.tmp/
tmp/

# Other
*.bak
*.tgz
*.zip